*{
    box-sizing: border-box;

}

.main{
    background: #EDEDED;
}

.header{
    background: url("../img/headerimage.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 1070px;
}

.menu {
max-width: 1920px;
height: 126px;
background: #01467C;
display: flex;
justify-content: space-around;
align-items: center;

}

.menu_links{
list-style-type: none;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: flex-end;
flex-wrap: wrap;


}

.menu_links a{
    color: #FFFFFF;
    text-decoration: none;

}

ul>li{
    margin-right: 10px;


}
.logo{
    margin-left: 60px;
}

.logo img{
    width: 292px;
    height: 54px;
}

.phone{

font-size: 32px;

color: #FFFFFF;
margin-right: 20px;
font-weight: bold;
}


.header_slogan{
font-family: 'PT Sans', sans-serif;
font-size: 72px;
line-height: 72px;
color: #FFFFFF;
margin: 100px 72px;
font-style: italic;
font-weight: 700;
}

.header_main_block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.header_text{

    margin: 10px 72px;
    width: 420px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 42px;
    display: flex;
    align-items: flex-end;

    color: #FFFFFF;

}

.header_btn{
    width: 410px;
    height: 60px;
    margin: 30px 72px;
    background: #EF7E1D;
    border-radius: 50px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;


}

.slogan_title{
height: 120px;
background: linear-gradient(180deg, #F28E05 0%, #F07E17 100%);
font-family: 'PT Sans', sans-serif;
font-size: 55px;
line-height: 120px;
font-weight: 600;
color: #FFFFFF;
text-align: center;
}

.achievements{
    background: #EDEDED;
    min-height: 500px;


}
.blocks{
    display: flex;
    justify-content: space-around;

    align-content: center;
    margin-top: 50px;
    flex-wrap: wrap;

}

.inner_blocks{
    width: 152px;
    height: 152px;
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}
.inner_blocks p{

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #000000;
    text-align: center;
    padding: 20px;

}

.inner_blocks img{
    width: 100%;
}

.fon{
    display: flex;
  justify-content: space-around;

    background:url("../img/fon.png");



}

.fon_header{
    width: 500px;
    font-family: 'PT Sans', sans-serif;
    font-size: 50px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
    height: 428px;
    color: #FFFFFF;
    margin-top: 100px;
}

.fon_text{
    width: 500px;
     font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
    margin-top: -100px;
    margin-bottom: 25px;

}
.block1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.block2{
    min-width: 790px;

    background: url("../img/man.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.slogan_block{
 background: #EF7E1D;
 height: 180px;

}
.inner{

    width: 800px;
    margin: 0 auto;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;


    font-family: 'PT Sans', sans-serif;

    font-size: 40px;
    color: #FFFFFF;
    font-style: italic;
}